body{
    background: #FAFAFA;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header-a{
    background: #141D1E;
    height: 40px;
}

.header-button, .header-button a{
    color: white;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.header-button{
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    height: 26px;
    float: right;
    padding: 14px 22px 0px 22px;
}

.header-button a:hover{
    color: #FF7200;
}

.header-b{
    background: white;
    height: 89px;
}

.header-right{
    float: right;
    margin-top: 37px;
}

.header-nav, .header-nav a{
    color: #2C2C2C;
    font-family: 'Montserrat';
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav a:hover{
    color: #FF7200;
}

.header-nav ul, .header-nav li{
    list-style: none;
}

.header-nav ul{
    margin: 0px;
}

.header-nav li{
    float: left;
    margin-left: 30px;
}

.heading{
    color: #141D1E;
    font-family: 'Montserrat';
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subheading{
    color: #141D1E;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px 0px 20px 0px;
}

.content{
    background: #FAFAFA;
    color: #444444;
    font-family: 'Raleway';
    min-height: 500px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 76px 0px;
}

.footer-b{
    background: black;
    height: 52px;
}

.footer-left{
    color: white;
    font-family: 'Raleway';
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    float: left;
    margin-top: 19px;
}

.row{
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
}

.form-row{
    font-family: 'Raleway';
    font-size: 14px;
    margin-bottom: 20px;
}

.title{
    line-height: 30px;
    float: left;
    margin-right: 10px;
}

.field{
    background: white;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    display: inline-block;
    padding: 5px;
}

.field input{
    border: none;
    outline: none;
    font-family: 'Raleway';
    font-size: 14px;
}

.custom-select{
    background: white;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    outline: none;
    color: #A9A9A9;
    font-family: 'Raleway';
    font-size: 14px;
    display: inline-block;
    padding: 5px;
}

.custom-select select{
    border: none;
    outline: none;
    font-family: 'Raleway';
    font-size: 14px;
}

.button{
    background: #FF7200;
    border: none;
    border-radius: 2px;
    outline: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 11px;
    text-transform: uppercase;
    height: 34px;
    margin: 5px 0px;
    padding: 0px 15px;
}

.button:hover, .button-margin-right:hover{
    background: #FF8F35;
    cursor: pointer;
}

.invisible-button{
    background: white;
    border: none;
    outline: none;
    color: #4C4C4C;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
}

.invisible-button:hover{
    cursor: pointer;
}

.table, .table th, .table td{
    border: 1px solid #141D1E;
    border-collapse: collapse;
    font-family: 'Raleway';
    text-align: left;
    margin: 30px auto 0px auto;
    padding: 10px;
}

.table th{
    background: black;
    color: white;
    text-transform: uppercase;
}

.table td{
    background: #FAFAFA;
    color: #444444;
}

.invisible-table, .invisible-table td{
    background: #FAFAFA;
    border: none;
    border-collapse: collapse;
    color: #444444;
    font-family: 'Raleway';
    text-align: left;
    padding: 10px;
}

.panel{
    text-align: center;
    overflow: auto;
}

.pane{
    background: white;
    width: 350px;
    display: inline-block;
    margin: 15px;
}

.pane-image{
    background: black;
}

.pane-image img{
    max-width: 350px;
    display: block;
}

.fade{
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.fade:hover{
    opacity: 0.5;
}

.pane-text{
    text-align: center;
    padding: 20px 10px;
}

.space{
    width: 20px;
    display: inline-block;
}

.wrapper-padding{
    max-width: 1100px;
    margin: 0px auto;
}

@media screen and (max-width: 1130px){
    .content, .wrapper-padding{
        padding-left: 60px;
        padding-right: 60px;
    }
}